---
import '../styles/global.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <title>Zepp's Toolbox - Custom Static Websites</title>
    
    <meta property="og:title" content="Zepp's Toolbox - Custom Static Websites">
    <meta property="og:description" content="I build basic static websites. Price based on quote. Free hosting for static pages.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://toolbox.planepanel.org">
    <meta property="og:image" content="images/preview.webp">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:site_name" content="Zepp Thunderbolt">
    
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Zepp's Toolbox - Custom Static Websites">
    <meta name="twitter:description" content="I build basic static websites. Starting at $80. Free hosting for static pages.">
    <meta name="twitter:image" content="images/preview.webp">
    
    <meta name="theme-color" content="#8b5cf6">

    <meta name="description" content="Amateur Freelance developer offering simplistic custom websites. Transparent pricing starting at $80. Free hosting available for static sites.">
    <meta name="keywords" content="web developer,website commission, freelance designer">

        
	</head>
	<body class="min-h-screen">
    <slot/>
	</body>
</html>